.prim-btn{
    margin:10px;
    background-color: rgb(251, 175, 75);
    border-color: rgb(254, 171, 82);
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: none;
}

.employeelogin-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    margin-top: 2rem !important;
    max-width: 30%;
    min-height: 25rem;
    justify-content: center;
    vertical-align: middle;
    padding: 2rem;
    border-radius: 1rem;
    }
    
.employeelogin-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.form-group{
    padding: 0.5rem;
}
