.navbar{
    padding:5px;
    background-image: linear-gradient(to right,#FAC213 30%,#B20600);
    min-height: 3rem;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 3px;
}

.navbar-title{
    font-weight: 500;
    font-size: 2rem;
    padding-left: 2rem;
}

.secon-btn{
    margin:10px;
    background-color: rgb(251, 204, 75) !important;
    border-color: rgb(254, 171, 82);
    color: black;
    font-weight: 200;
    font-size: 14px;
    padding: 0.2rem;
    border-radius: 10px;
}
